# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""

# API Tokens
SANITY_API_WRITE_TOKEN=""

# Source Configuration
SOURCE_PROJECT_ID=
SOURCE_DATASET=
SOURCE_TOKEN=""
